@import "./mixin.scss";

body {
    font-family: "Poppins", sans-serif;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-capitalize {
    text-transform: capitalize;
}

a {
    cursor: pointer;
}

button:focus {
    outline: none;
}

.row {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    @include flexCenter;
}

.products-container {
    width: 100%;
    margin: 0 auto;
}

.btn {
    background-color: grayscale($color: #000000);
    color: white !important;
    border: none;
}

.btn:hover {
    transform: translate(0px, -5px);
}

.modal-section {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    @include flexCenter;
    flex-direction: column;
}

.modal-container {
    @include flexCenter;
    flex-direction: column;
    background-color: white;
}

.buttons-container {
    display: flex;
    flex-direction: column;
}

.button-black {
    @include button;
    background-color: black;
    color: white;
}

.button-transparent {
    @include button;
    background-color: transparent;
    border: 1px solid black;
}

.count-button {
    border-radius: 50%;
    border: 1.2px solid black;
    background-color: transparent;
}
